@model IEnumerable<AgendamentoOnline.Models.User>
@using AgendamentoOnline.Models;
@using AgendamentoOnline.Utils.Enums;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="dataTable" class="display">
    <thead>
        <tr>
            <th>
                <a href='@Url.Action("Create", "User", new { Type = (int)UserType.ATTENDANT })' title="New Attendant">
                    <span class="fas fa-laptop" style="font-size:15px" ;></span>
                </a>
                <a href='@Url.Action("Create", "User", new { Type = (int)UserType.Coach })' title="New Coach">
                    <span class="fas fa-user-md" style="font-size:15px" ;></span>
                </a>
                <a href='@Url.Action("Create", "User", new { Type = (int)UserType.Client })' title="New Client">
                    <span class="fas fa-hospital-user" style="font-size:15px" ;></span>
                </a>
            </th>
            <th>
                Name
            </th>
            <th>
                Login
            </th>
            <th>
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a href='@Url.Action("Edit", "Colaborador", new { id = item.Id })' title="Editar Solicitação">
                            <span class="fa fa-edit" style="font-size:15px" ;></span>
                        </a>*@
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Login
                </td>
                <td>
                    @item.TypeName
                </td>

            </tr>
        }
    </tbody>
</table>
<script>
    //$("#cardBG").toggleClass("card");
    //$("#bodyCard").toggleClass("card-body");
</script>