@model AgendamentoOnline.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

}

<div>
    @*<div class="text-center mt-5">
            <div class="m-auto">
                <div>
                    <img style="width: 50%; height: 50%;" src="~/Img/ECPNG.png" />
                </div>
            </div>
        </div>*@


    <div class="text-center mb-4">
        @using (Html.BeginForm("Login", "Homw", FormMethod.Post, new { @class = "form-signin" }))
        {
            //cria a tag do formulário
            @Html.AntiForgeryToken() // previne o ataque CSRF
            @Html.ValidationSummary(true)

            <div>
                <form class="col-md-12">
                    <p>
                        @Html.TextBoxFor(a => a.Login, new { @class = "form-control-md text-center", @placeholder = "Login", @required = "required", @autofocus = "autofocus", @type = "text" })
                        @Html.ValidationMessageFor(a => a.Login)
                    </p>
                    <p>
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control-md text-center", @placeholder = "Password", @required = "required", @autofocus = "autofocus", @type = "password" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </p>
                </form>
                <div class="m-3"><button class="btn btn-secondary" style="background-color: #181717" type="submit" value="Login" />Entrar</div>
            </div>
        }
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

