@model AgendamentoOnline.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

}

<div class="container justify-content-center align-items-center" @*style="min-height:70vh; background-color: rgba(105, 105, 105, 0.4);"*@>
    <div class="text-center mt-5 align-items-center" style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%);">
        <div class="mt-5 mb-2">
            @*<h4>SEJA BEM VINDO!</h4>*@
            <div>
                    <img style="width: 30%; height: 30%; opacity:100%" src="~/Img/Logo_Transparente.png" />
                </div>
        </div>
    </div>


    <div class="text-center mb-4 align-items-center mt-5" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            //cria a tag do formulário
            @Html.AntiForgeryToken() // previne o ataque CSRF
            @Html.ValidationSummary(true)

            <div>
                <form class="col-md-12">
                    <p>
                        @Html.TextBoxFor(a => a.Login, new { @class = "form-control-md text-center", @placeholder = "Login", @required = "required", @autofocus = "autofocus", @type = "text" })
                        @Html.ValidationMessageFor(a => a.Login)
                    </p>
                    <p>
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control-md text-center", @placeholder = "Password", @required = "required", @autofocus = "autofocus", @type = "password" })
                        @Html.ValidationMessageFor(a => a.Password)
                    </p>
                </form>
                <div class="m-3"><button class="btn btn-primary" type="submit" value="Login" />Entrar</div>
            </div>
        }
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var cardBG = $('#cardBG');
            if (cardBG) {
                cardBG.removeClass('card'); // Remove the class "card"
            }
        });
    </script>

}

