<!DOCTYPE html>
@using AgendamentoOnline.Models
@{ User userlayout = Session["user"] as User;}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title - MyClinicPlanner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            background-image: url("../img/Bg2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    @if (userlayout != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top align-items-lg-start">
            <div class="navbar-header">

                @if (userlayout is Doctor)
                {
                    <a class="btn" href="@Url.Action("IndexDoc", "Appointments", new { Id = userlayout.Id })">
                        <span class="icon-bar">
                            <i class="fas fa-home" style="color: #ffffff;"></i>
                        </span>
                    </a>
                }
                else if (userlayout is Patient)
                {
                    <a class="btn" href="@Url.Action("IndexPat", "Appointments", new { Id = userlayout.Id })">
                        <span class="icon-bar">
                            <i class="fas fa-home" style="color: #ffffff;"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="btn" href="@Url.Action("IndexGeneral", "Appointments")">
                        <span class="icon-bar">
                            <i class="fas fa-home" style="color: #ffffff;"></i>
                        </span>
                    </a>
                }
                <a class="btn" href="@Url.Action("LogOut", "Home")">
                    <span class="icon-bar">
                        <i class="fas fa-sign-out-alt" style="color: #ffffff;"></i>
                    </span>
                </a>
            </div>
        </div>
    }

    <div class="row card m-4" id="cardBG">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (userlayout != null)
    {
        <hr />
        <div class="row ml-2 text-white">
            <footer>
                <p>&copy; @DateTime.Now.Year - MyClinicPlanner</p>
            </footer>
        </div>
    }
</body>

</html>
