<!DOCTYPE html>
@using AgendamentoOnline.Models
@{ User userlayout = Session["user"] as User;}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (userlayout != null)
                {
                    @Html.ActionLink("LogOut", "LogOut", "Home")

                    if (userlayout is Doctor)
                    {
                        <span class="icon-bar">
                            @Html.ActionLink("MyClinicPlanneer", "IndexDoc", "Appointments", new { Id = userlayout.Id })
                        </span>

                    }
                    else if (userlayout is Patient)
                    {
                        <span class="icon-bar">

                            @Html.ActionLink("MyClinicPlanneer", "IndexPat", "Appointments", new { Id = userlayout.Id })
                        </span>
                    }
                    else
                    {
                        <span class="icon-bar">

                            @Html.ActionLink("MyClinicPlanneer", "IndexGeneral", "Appointments")
                        </span>
                    }
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
