<!DOCTYPE html>
@using AgendamentoOnline.Models
@{ User userlayout = Session["user"] as User;}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <title>@ViewBag.Title - MyClinicPlanner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            background-image: url("../img/Bg2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .hidden {
            display: none;
            background-color: black;
        }

        .navbar .leftNav {
            margin-right: auto;
            margin-left: 0;
        }
    </style>
</head>
<body>
    @*NAVBAR*@
    @if (userlayout != null)
    {
        <div class="navbar navbar-fixed-top leftNav">
            <div class="navbar-header">
                <a href="#menu-toggle" id="menu-toggle" class="btn">
                    <span class="icon-bar">
                        <i class="fas fa-bars" style="color: #ffffff;"></i>
                    </span>
                </a>
                @*<a class="btn" href="@Url.Action("Index", "Appointments")">
                    <span class="icon-bar">
                        <i class="fas fa-home" style="color: #ffffff;"></i>
                    </span>
                </a>*@
                @*<a class="btn float-right" href="@Url.Action("LogOut", "Home")">
                    <span class="icon-bar">
                        <i class="fas fa-sign-out-alt" style="color: #ffffff;"></i>
                    </span>
                </a>*@
            </div>
        </div>
    }
    @* SIDEBAR *@
    <div>
        @Html.Partial("SideBar")
    </div>

    @* PAGE CONTENT *@

    <div class="row card m-4" id="cardBG">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* FOOTER *@

    @if (userlayout != null)
    {
        <div class="row ml-2 text-white" id="pageFooter">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MyClinicPlanner</p>
            </footer>
        </div>
    }
</body>

</html>
