<!DOCTYPE html>
@using AgendamentoOnline.Models
@{ User userlayout = Session["user"] as User;}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootbox/bootbox.min.js"></script>
    <title>@ViewBag.Title - MyClinicPlanner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        @@media (max-width: 768px) {
            body {
                font-size: 16px; /* Tamanho de fonte menor */
                margin: 10px; /* Margem menor */
                align-content: start;
                word-wrap: break-word; /* Para quebrar palavras longas */
                overflow-wrap: break-word; /* Para quebrar palavras longas */
            }

            card {
                font-size: 16px; /* Tamanho de fonte menor */
                margin: 10px; /* Margem menor */
                align-content: start;
                word-wrap: break-word; /* Para quebrar palavras longas */
                overflow-wrap: break-word; /* Para quebrar palavras longas */
            }
            card-body {
                font-size: 16px; /* Tamanho de fonte menor */
                margin: 10px; /* Margem menor */
                align-content: start;
                word-wrap: break-word; /* Para quebrar palavras longas */
                overflow-wrap: break-word; /* Para quebrar palavras longas */
            }
            .container {
                padding: 10px; /* Margens menores */
            }

            table {
                white-space: nowrap; /* Evita a quebra de texto dentro das células */
                width: 100%; /* Certifica-se de que a tabela não seja maior que o contêiner */
                overflow-x: auto; /* Adiciona a barra de rolagem horizontal quando necessário */
            }
        }

        body {
            background-image: url("@Url.Content("~/Img/Bg2.jpg")");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .hidden {
            display: none;
            background-color: black;
        }

        .navbar .leftNav {
            margin-right: auto;
            margin-left: 0;
        }

        body {
            font-size: 16px; /* Tamanho de fonte menor */
            margin: 10px; /* Margem menor */
            align-content: start;
            word-wrap: break-word; /* Para quebrar palavras longas */
            overflow-wrap: break-word; /* Para quebrar palavras longas */
        }

        card, table,tr,td,th,tbody,thead {
            font-size: 16px; /* Tamanho de fonte menor */
            margin: 10px; /* Margem menor */
            align-content: start;
            word-wrap: break-word; /* Para quebrar palavras longas */
            overflow-wrap: break-word; /* Para quebrar palavras longas */
            max-width: 100%;
        }

        card-body {
            font-size: 16px; /* Tamanho de fonte menor */
            margin: 10px; /* Margem menor */
            align-content: start;
            word-wrap: break-word; /* Para quebrar palavras longas */
            overflow-wrap: break-word; /* Para quebrar palavras longas */
        }

        .container {
            padding: 10px; /* Margens menores */
        }

        table {
            white-space: nowrap; /* Evita a quebra de texto dentro das células */
            width: 100%; /* Certifica-se de que a tabela não seja maior que o contêiner */
            overflow-x: auto; /* Adiciona a barra de rolagem horizontal quando necessário */
        }
    </style>
</head>
<body>
    @*NAVBAR*@
    @if (userlayout != null)
    {
        <div class="navbar navbar-fixed-top leftNav">
            <div class="navbar-header">
                <a href="#menu-toggle" id="menu-toggle" class="btn">
                    <span class="icon-bar">
                        <i class="fas fa-bars" style="color: #ffffff;"></i>
                    </span>
                </a>
                @*<a class="btn" href="@Url.Action("Index", "Appointments")">
                        <span class="icon-bar">
                            <i class="fas fa-home" style="color: #ffffff;"></i>
                        </span>
                    </a>*@
                @*<a class="btn float-right" href="@Url.Action("LogOut", "Home")">
                        <span class="icon-bar">
                            <i class="fas fa-sign-out-alt" style="color: #ffffff;"></i>
                        </span>
                    </a>*@
            </div>
        </div>
    }
    @* SIDEBAR *@
    <div>
        @Html.Partial("SideBar")
    </div>

    @* PAGE CONTENT *@

    <div class="row card m-4" id="cardBG">
        <div class="card-body" id="bodyCard">
            @RenderBody()
            <script>
            </script>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* FOOTER *@

    @*@if (userlayout != null)
        {
            <div class="row ml-2 text-white" id="pageFooter">
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - MyClinicPlanner</p>
                </footer>
            </div>
        }*@
</body>

</html>
