@model AgendamentoOnline.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
